<div class="container-fluid" ng-app="dashboardApp">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>欧洲联赛</th>
                        <th>欧战积分</th>
                        <th>总进球数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>\{{name}}</td>
                        <td>\{{score}}</td>
                        <td>\{{goals}}</td>
                    </tr>
                </tbody>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

        <div class="col-md-4" ng-controller="HelloCtrl">
            <h1>{{{ content }}} \{{ greeting }}, World</h1>
            <h2>\{{"AngularJS"}}</h2>
        </div>
    </div>
</div>
