<div class="container-fluid" ng-app="dashboardApp">
    <div class="row" ng-controller="leagueStatCtrl">
        <div class="page-header">
            <h1>
                {{todo.user}}'s To Do List
                <span class="label label-success" ng-hide="checkedCounter() == 0">
                    \{{checkedCounter()}}
                </span>
            </h1>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>\{{leagueRankHead.nameHead}}</th>
                        <th>\{{leagueRankHead.scoreHead}}</th>
                        <th>\{{leagueRankHead.goalsHead}}</th>
                        <th><span class="label label-success">Default</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="league in leagues">
                        <td>\{{league.name}}</td>
                        <td>\{{league.score}}</td>
                        <td>\{{league.goals}}</td>
                        <td>\{{league.live}}</td>
                        <td>
                            <input type="checkbox" ng-model="league.live" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

        <div class="col-md-4">
            <h1>{{{ content }}} \{{ greeting }}, World</h1>
            <h2>\{{"AngularJS"}}</h2>
        </div>
    </div>
</div>
